<div class="mt-2 bg-gray-200 pt-2" data-controller="form-error">

  <%= form_with(model: [@posttable, @post], html: { data: { type: "html",
                       action: "ajax:error->form-error#onPostError" } } ) do |form| %>
    <%= form.text_field :title, label: false, required: true, maxlength: 400, placeholder: 'Заголовок', class: 'field' %>
    <div class="sod">
      <%= form.rich_text_area :body_post, placeholder: 'Содержание' %>

      <div class="mt-3" data-controller="nested-form">
        <template data-target="nested-form.template">
          <%= form.fields_for :youtubes, Article::Youtube.new, child_index: 'NEW_RECORD' do |task| %>
            <%= render "youtube_fields", form: task %>
          <% end %>
        </template>

        <% unless current_page?(new_category_post_path(@posttable)) %>
          <%= form.fields_for :youtubes do |task| %>
            <%= render "youtube_fields", form: task %>
          <% end %>
        <% end %>

        <div class="m-3" data-target="nested-form.links">
          <%= link_to "Добавить видео с YouTube", "#", class: "link", data: { action: "click->nested-form#add_association" } %>
        </div>
      </div>

    </div>
    <div class="px-2 mb-3">
      <% if request.subdomain.blank? && @post.user.admin? %>
        <div class="block">
          <%= form.check_box :subscribe %>
          <%= form.label :subscribe %>
        </div>
      <% end %>
      <div class="block my-2">
        <%= form.check_box :no_comments %>
        <%= form.label :no_comments %>
      </div>
      <div class="block">
        <%= form.check_box :no_data %>
        <%= form.label :no_data %>
      </div>
      <% if request.subdomain.blank? %>
        <div hidden>
          <%= form.check_box :top, checked: true %>
        </div>
      <% else %>
        <div class="block mt-2">
          <%= form.check_box :top %>
          <%= form.label :top %>
        </div>
      <% end %>
    </div>
    <%= render 'application/progress_upload' %>
    <ul class="post-errors" data-target="form-error.postErrors"></ul>
    <div class="flex items-center">
      <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'hover:bg-teal-600 bg-teal-500 text-white py-3 px-4') %>
      <%= link_to 'Отмена', @posttable, class: 'hover:bg-red-600 bg-red-400 text-white py-3 px-4' %>
    </div>
  <% end %>
</div>
