<% cache post_small do %>
  <%= link_to [post_small.posttable, post_small], class: 'block text-xs hover:text-gray-600 p-2 border-b' do %>
    <span class="text-sm leading-tight">
      <%= content_tag :span, icon_svg('crowns.svg', class: 'svg-default'), class: 'text-yellow-500' if post_small.subscribe == true %>

      <%= sanitize(strip_tags(post_small.title)) %>
    </span>
    <span class="text-xs pl-2">
      <%= content_tag :span, icon_svg('chat.svg', class: 'svg-default') +  post_small.comments.count.to_s, class: 'pl-1 text-xs' if post_small.comments.present? %>
      <span class="bg-gray-200 inline-block px-1 rounded"><%= time_tag(post_small.created_at, :format=>'%d %B %Y г.') %></span>
    </span>
  <% end %>
<% end %>
