<% cache post do %>
  <%= link_to main_app.category_post_path(post.posttable, post), class: 'md:flex lg:rounded-lg hover:text-blue-700 lg:pt-5', id: "post_#{post.id}" do %>

    <%= image_helper(post) %>

    <div class="mt-4 md:mt-0 px-2">
      <% if post.type.present? && request.subdomain.blank? %>
        <div>
          <div class="text-gray-500">
            <span class="inline-block pr-2 mr-1 border-r"><%= post.user.name_full %></span>
            <span class="inline-block"><%= sanitize(strip_tags(post.posttable.title)) %></span>
          </div>
          <div class="text-lg leading-tight font-semibold">
            <%= sanitize(strip_tags(post.title)) %>
            <%= content_tag :span, icon_svg('chat.svg', class: 'svg-default') +  post.comments.count.to_s, class: 'pl-1 text-xs' if post.comments.present? %>
          </div>
        </div>
      <% else %>
        <div class="uppercase tracking-wide leading-tight text-xs text-gray-500"><%= sanitize(strip_tags(post.posttable.title)) %>
        </div>
        <div class="block mt-1 text-lg leading-tight font-semibold">
          <%= content_tag :span, icon_svg('crowns.svg', class: 'svg-default'), class: 'text-yellow-500' if post.subscribe == true %>
          <%= sanitize(strip_tags(post.title)) %>
          <%= content_tag :span, icon_svg('chat.svg', class: 'svg-default') +  post.comments.count.to_s, class: 'pl-1 text-xs' if post.comments.present? %>
        </div>
      <% end %>
      <p class="mt-2">
        <%= truncate(strip_tags(post.description), length: 200, omission: '...') %>
      </p>
      <% if post.no_data.blank? %>
        <div class="inline-flex items-center text-xs pl-2">
          <%= time_tag(post.created_at, :format=>'%d %B %Y г.') %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="border-b mt-5"></div>
<% end %>
