<% keywords truncate(strip_tags(@post.description), length: 100, omission: '').split.uniq.sort %>
<% description truncate(strip_tags(@post.description), length: 200) %>
<% if request.subdomain.present? || @post.type.present? %>
  <% subdomainering = @post.user.slug %>
<% else %>
  <% subdomainering = false %>
<% end %>
<% content_for :canonical_link, main_app.category_post_url(@post.posttable, @post, subdomain: subdomainering) %>

<% content_for :fullpath do %>
  <script>
    PostSmall = "<%= category_post_path(@post.posttable, @post) %>"
  </script>
<% end %>

<% content_for :titleise do %>
  <div class="flex flex-wrap">
    <div class="w-full max-w-3xl mx-auto">
      <% if @post.type.blank? || request.subdomain.present? %>
        <%= link_to url_for(@post.posttable), class: 'mb-2 text-gray-500 hover:text-gray-600 block', "up-dash" => ".main", "up-transition" => "cross-fade", "up-cache" => "false" do %>
          <%= icon_svg('chevron-thin-left.svg', class: 'svg-default') %>
          <%= sanitize(strip_tags(@post.posttable.title)) %>
        <% end %>
      <% else %>
        <%= link_to icon_svg('chevron-thin-left.svg', class: 'svg-default') + "Главное", root_path, class: 'mb-2 text-gray-500 hover:text-gray-600 block', "up-dash" => ".main", "up-transition" => "cross-fade" %>
      <% end %>
      <div class="inline text-3xl leading-tight"><%= title sanitize(strip_tags(@post.title)) %></div>
      <div class="inline-block text-sm">
        <%= link_to icon_svg('edit.svg', class: 'svg-edit'), edit_category_post_path(@post.posttable, @post), title: "Редактировать", class: 'text-blue-500 mx-2', "up-dash" => ".main", "up-transition" => "cross-fade" if @post.user == current_user %>
        <%= link_to icon_svg('trash.svg', class: 'svg-trash'), [@post.posttable, @post], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'text-red-600', title: "Удалить", remote: true if @post.user == current_user %>
      </div>
    </div>
  </div>
<% end %>

<div class="w-full">
  <div class="block justify-center">
    <div data-controller="gallery">
      <% if @post.subscribe.present? %>
        <% if current_user_subscribed? %>
          <div class="p-2"><%= @post.body_post %></div>
        <% else %>
          <div class="p-2"><%= render 'tarif', full: true %></div>
        <% end %>
      <% else %>
        <div class="p-2"><%= @post.body_post %></div>
      <% end %>

      <% if @post.type.present? && request.subdomain.blank? %>
        <%= link_to main_app.category_post_url(@post.posttable, @post, subdomain: @post.user.slug), class: 'block bg-teal-500 hover:bg-teal-600 text-white py-2 border-pink-500 border-l-4 px-2' do %>
          <span class="block text-gray-200 text-sm lg:text-base text-center">Продолжить просмотр на странице:</span>
          <span class="flex items-center justify-center">
            <%= user_avatar_helper(@post.user) %>
            <div class="leading-tight">
              <span class="block font-bold"><%= @post.user.name_full %></span>
              <span class="block"><%= sanitize(strip_tags(@post.posttable.title)) %></span>
            </div>
          </span>
        <% end %>
      <% end %>

    </div>

    <% @post.youtubes.all.each do |tube| %>
      <%= render 'youtube_video', tube: tube %>
    <% end %>

    <div class="block my-4 px-2">
      <% if @post.no_data.blank? %>
        <div class="text-sm w-full text-right inline-block text-gray-600">
          Опубликовано <%= time_tag(@post.created_at, :format=>'%d %B %Y в %H:%M') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mb-12 block">
  <% if @posts.present? %>
    <div id="category-post-show-<%= @post.posttable.id %>" data-turbolinks-permanent>
      <div class="w-full" id="categories-show-columns">
        <%= render partial: 'post_small', collection: @posts, cached: true %>
      </div>
      <div class="block pagination my-4" id="categories-show-paginator">
        <%= pag_helper(@posts, 'Далее') %>
      </div>
    </div>
  <% end %>
</div>

<% if @post.no_comments.present? %>
  <div class="pt-2 mb-4 flex justify-center">
    <div class="w-full mt-4">
      <% unless params[:comment] %>
        <div id="commentos_back">
          <% if @post.subscribe? %>
            <% if current_user_subscribed? %>
              <%= render partial: "comments/form", locals: { commentable: @post, postas: 'postas_post' } %>
            <% else %>
              <div class="text-gray-700 px-2">
                Оставить комментарий может только подписчик
              </div>
            <% end %>
          <% else %>
            <%= render partial: "comments/form", locals: { commentable: @post, postas: 'postas_post' } %>
          <% end %>
        </div>
      <% end %>
      <div class="px-1" id="comments">
        <% if params[:comment] %>
          <h5 class="pt-4"><%= link_to "← Смотреть все комментарии", url_for(anchor: 'commentos_back'), class: 'link', "up-dash" => ".main", "up-transition" => "cross-fade" %></h5>
          <%#= render partial: 'comments/comment', collection: @comments_parent, continue_thread: 10  %>
          <%= render partial: 'comments/comment', collection: @comments, continue_thread: 10  %>
        <% else %>
          <div class="d-block" id="comments-show-columns">
            <div id="open_comments" class="mt-4">
              <div data-controller="hardpage">
                Загрузка комментариев...
                <%= link_to url_for(open: 'true'), class: 'hidden', remote: true, data: {target: "hardpage.open"} do %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <br />
      <div class="block pagination mb-4 hidden" id="comments-show-paginator">
        <%= pag_helper(@comments, 'Еще комментарии', :pagina) %>
      </div>
    </div>
  </div>
<% end %>
