<div class="mt-2" data-controller="form-error">

  <ul class="post-errors" data-target="form-error.postErrors"></ul>

  <%= form_with(model: @profile, html: { data: { type: "html",
                     action: "ajax:error->form-error#onPostError" } }) do |form| %>
    <div class="z-10 relative">
      <%= form.text_field :org, label: false, maxlength: 150, placeholder: 'Где Вы работайте или учитесь?', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>

      <%= form.text_field :bio, label: false, maxlength: 220, placeholder: 'Коротко о Вас, ваше хобби', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>

      <div class="w-full max-w-md">
        <div class="flex flex-wrap mb-6">
          <div class="w-full md:w-1/2 md:mb-0">
            <%= form.email_field :email, label: false, maxlength: 50, placeholder: 'E-mail (видно всем)', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
          </div>
          <div class="w-full md:w-1/2">
            <%= form.telephone_field :phone, label: false, maxlength: 50, placeholder: 'Телефон (видно всем)', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
          </div>
        </div>
      </div>

      <div class="flex w-full text-gray-200 mb-2">
        <div class="inline mr-2">
          <%= form.label :avatar do %>
            <% if @user_agent.profile.avatar.attached? %>
              <!-- <div class="float-left">
                <%#= form.check_box :avatar_purge, checked: false, class: 'cursor-pointer' %>
                <%#= form.label :avatar_purge, 'Удалить' %>
              </div> -->
              <%= user_avatar_helper(@user_agent) %> Фото
            <% else %>
              <div class="px-2 mr-1 rounded cursor-pointer bg-green-800 hover:bg-green-700">Добавить Фото</div>
            <% end %>
            <%= form.file_field :avatar, direct_upload: true, label: false, data: {disable_with: false}, class: 'hidden_file_field w-1' %>
          <% end %>
        </div>
        <div class="inline mr-2">
          <%= form.label :fon do %>
            <% if @user_agent.profile.fon.attached? %>
              <%= user_fon_helper(@user_agent) %> фон
              <!-- <div class="float-left">
                <%#= form.check_box :fon_purge, checked: false, class: 'cursor-pointer' %>
                <%#= form.label :fon_purge, 'Удалить' %>
              </div> -->
            <% else %>
              <div class="px-2 mr-1 rounded cursor-pointer bg-green-800 hover:bg-green-700">Добавить Фон</div>
            <% end %>
            <%= form.file_field :fon, direct_upload: true, label: false, data: {disable_with: false}, class: 'hidden_file_field w-1' %>
          <% end %>
        </div>
        <div class="inline mr-2">
          <%= form.label :bgcolor do %>
            <%= form.color_field :bgcolor, class: 'h-10 w-10 flex cursor-pointer shadow-lg rounded mr-1 mb-1' %>
            Оттенок
          <% end%>
        </div>
      </div>

      <%= render 'application/upload_progress' %>

      <%= content_tag(:button, "Сохранить", class: 'btn mb-2', type: 'submit') %>
      <%= link_to "Отмена", '#', class: 'link mb-2 ml-2', data: { action: "click->reply#toggle" } %>
    </div>
  <% end %>

</div>
