<div data-controller="form-error">

  <ul class="post-errors" data-target="form-error.postErrors"></ul>

  <%= form_with(model: @user_agent.profile, html: { class: local_assigns[:class], data: { target: local_assigns[:target] } }) do |form| %>
    <div class="z-10 relative">
      <%= form.text_field :bio, label: false, maxlength: 150, placeholder: 'Коротко о Вас, ваше хобби', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
      <%= form.text_field :org, label: false, maxlength: 150, placeholder: 'Где Вы работайте или учитесь?', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
      <%= form.text_field :prof, label: false, maxlength: 150, placeholder: 'О Вашей профессии или образовании', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>

      <div class="w-full max-w-md">
        <div class="flex flex-wrap mb-6">
          <div class="w-full md:w-1/2 md:mb-0">
            <%= form.email_field :email, label: false, maxlength: 50, placeholder: 'E-mail (видно всем)', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
          </div>
          <div class="w-full md:w-1/2">
            <%= form.telephone_field :phone, label: false, maxlength: 50, placeholder: 'Телефон (видно всем)', class: 'placeholder-gray-200 appearance-none w-full py-1 text-gray-200 leading-tight' %>
          </div>
        </div>
      </div>

      <div class="w-full text-gray-200 mb-2">
        <div class="inline">
          <%= form.label :avatar do %>
            <span class="px-2 mr-1 rounded cursor-pointer bg-green-800 hover:bg-green-700">Аватар</span>
            <% if @user_agent.profile.avatar.attached? %>
              <!-- <div class="float-left">
                <%#= form.check_box :avatar_purge, checked: false, class: 'cursor-pointer' %>
                <%#= form.label :avatar_purge, 'Удалить' %>
              </div> -->
              <%= user_avatar_helper(@user_agent, 37, "8px 18px") %>
            <% end %>
            <%= form.file_field :avatar, direct_upload: true, label: false, class: 'hidden_file_field w-1' %>
          <% end %>
        </div>
        <div class="inline">
          <%= form.label :fon do %>
            <span class="px-2 mr-1 rounded cursor-pointer bg-green-800 hover:bg-green-700">Фон</span>
            <% if @user_agent.profile.fon.attached? %>
              <%= user_fon_helper(@user_agent, 37, "8px 18px") %>
              <!-- <div class="float-left">
                <%#= form.check_box :fon_purge, checked: false, class: 'cursor-pointer' %>
                <%#= form.label :fon_purge, 'Удалить' %>
              </div> -->
            <% end %>
            <%= form.file_field :fon, direct_upload: true, label: false, class: 'hidden_file_field w-1' %>
          <% end %>
        </div>
        <div class="inline">
          <%= form.label :bgcolor do %>
            <div class="px-2 rounded flex items-center bg-green-800 inline-flex hover:bg-green-700">
              Оттенок
              <%= form.color_field :bgcolor, class: 'cursor-pointer p-0 ml-2 w-5' %>
            </div>
          <% end%>
        </div>
      </div>
      <%= content_tag(:button, icon("fas", "check-circle", "Сохранить"), class: 'btn mb-2', type: 'submit', data: {disable_with: disable_helper('Сохранение')}) %>
      <%= link_to icon("fas", "times-circle", "Отмена"), '#', class: 'link mb-2 ml-2', data: { action: "click->reply#toggle" } %>
    </div>
  <% end %>

</div>
