<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <%= link_to url_for(blob), data: { action: 'gallery#onImageClick', target: 'gallery.picture' } do %>
      <%= image_tag(blob.representation(resize_to_fill: [ 300, 200 ]), class: 'rounded mx-auto') %>
    <% end %>
  <% end %>

  <figcaption class="attachment__caption mt-1 bg-gray-300">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <% unless blob.representable? %>
        <span class="attachment__name hover:text-red-500">
          <%= link_to icon('fas', 'download', blob.filename), url_for(blob) %></span>
        <span class="attachment__size">
          <%= number_to_human_size blob.byte_size %></span>
      <% end %>
    <% end %>
  </figcaption>
</figure>
