<div class="p-4 px-3 py-10 flex justify-center">
  <div class="w-full max-w-sm">
    <div class="mb-3"><%= "Отправить подтверждение на E-mail".to_s.upcase %></div>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="mb-4">
        <%= f.email_field :email, label: false, autofocus: true, placeholder: 'E-mail', required: true, class: 'field', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= content_tag(:button, 'Отправить подтверждение', type: 'submit', data: {disable_with: disable_helper('Подтверждение отправляется')}, class: 'btn mb-4') %>

        <div>
          <%= render "devise/shared/links" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
