<div class="block w-full max-w-md justify-center text-center pt-4 pb-2 px-2 mx-auto">
  <%= link_to commentator_url_helper(commentator), class: 'card--category bg-white rounded px-2 pt-2 shadow-lg flex flex-col justify-between leading-normal' do %>
    <div class="block">
      <div class="flex items-center">
        <%= image_tag user_avatar(commentator.user, 38), class: 'rounded-full mr-1' %>
        <div>
          <%= commentator.user.username %>
          <span class="text-xs text-gray-500">
            <%= time_ago_in_words(commentator.created_at) %> назад
          </span>
        </div>
      </div>
    </div>
    <i>«<%= truncate(strip_tags(commentator.body.body.to_s), length: 80, omission: '...') %>»</i>
  <% end %>
</div>
