<% if user_signed_in? %>
  <div data-controller="form-error">
    <%= form_with model: [commentable, Comment.new], html: { class: local_assigns[:class], data: { target: local_assigns[:target], type: "html", action: "ajax:success->form-error#onPostSuccess ajax:error->form-error#onPostError" } } do |form| %>
      <div class="flex items-center pl-1 pb-1 mb-2 text-red-700">
        <%= user_avatar_helper(current_user, 38) %>
        <%= current_user.username %>
      </div>
      <div class="p-1">
        <%= form.rich_text_area :body_comment, id: "#{postas}", placeholder: 'Напишите свой комментарий', data: { controller: "mentions", target: "mentions.field" } %>
      </div>
      <ul class="post-errors" data-target="form-error.postErrors"></ul>
      <div class="px-2">
        <%= form.hidden_field :parent_id, value: local_assigns[:parent_id] %>
        <%= content_tag(:button, 'Создать комментарий', class: 'btn mt-2', type: 'submit', data: {disable_with: disable_helper('Создать комментарий')}) %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= content_tag :div, class: local_assigns[:class], data: { target: local_assigns[:target] } do %>
    <div class="mt-2 pl-4 pr-2 text-gray-600">
      Чтобы добавить комментарий необходимо <%= link_to 'войти', main_app.user_session_url(subdomain: false), class: 'link' %>.
    </div>
  <% end %>
<% end %>
