<div class="bg-green-100 border-t-4 border-b-2 border-green-200 pt-3 pb-4 px-4 mb-8 rounded text-center">
  <div class="lg:inline-block block mt-4">
    <% if book.price == 0 %>
      <%= form_for :book, url: add_book_path(book, type: "add", amountorub: (book.price.to_s+"00").to_i), method: :put, html: {"up-target" => ".main"} do |f| %>
        <%= render 'application/progress_pay' %>
        <%= content_tag(:button, class: 'bg-green-700 text-gray-300 text-lg hover:text-white py-2 px-4 mb-2 border-t-4 border-b-4 border-green-300 hover:border-green-400', type: 'submit') do %>
          Читать
        <% end %>
      <% end %>
    <% else %>
      <%= form_for :book, url: add_book_path(book, type: "add", amountorub: (book.price.to_s+"00").to_i), method: :put, data: {disable_with: disable_helper('Переход в Сбербанк-Онлайн')} do |f| %>
        <%= render 'application/progress_pay' %>
        <%= content_tag(:button, class: 'bg-green-700 text-gray-300 text-lg hover:text-white py-2 px-4 mb-2 border-t-4 border-b-4 border-green-300 hover:border-green-400', type: 'submit') do %>
          Читать
          за <%= book.price %> руб
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="inline-block text-gray-700 mt-4 ml-2">
    Онлайн-книга будет сохранена в вашей
    <%= link_to 'библиотеке', main_app.library_index_url(subdomain: false), class: 'hover:text-blue-500', "up-dash" => ".main", "up-transition" => "cross-fade" %>
  </div>
</div>
