<div class="mt-2 shadow-2xl bg-gray-100 py-2 lg:p-2" data-controller="form-error">

  <ul class="post-errors" data-target="form-error.postErrors"></ul>
  <div class="mt-2">
    <%= form_with(model: @book, html: { data: { type: "html", action: "ajax:error->form-error#onPostError" } }) do |form| %>
      <%= form.text_field :title, label: false, required: true, maxlength: 400, placeholder: 'Название книги', class: 'field' %>
      <div class="w-full">
        <div class="flex flex-wrap mb-2">
          <div class="w-full md:w-1/3 pr-2 md:mb-0">
            <%= form.text_field :author, label: false, required: true, maxlength: 500, placeholder: 'Автор', class: 'field' %>
          </div>
          <div class="w-full md:w-1/3 pr-2 md:mb-0">
            <%= form.number_field :price, label: false, required: true, maxlength: 10, placeholder: 'Цена', class: 'field' %>
          </div>
          <div class="w-full md:w-1/3 pr-2">
            <%= form.date_field :data, label: false, required: true, class: 'field' %>
            <%#= form.select :data, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), { label: false}, { class: 'field bg-white' } %>
          </div>
        </div>
      </div>
      <div class="px-2">
        <%= form.check_box :public, class: 'my-4' %>
        <%= form.label :public, 'Опубликовать' %>
        <br/>
        <%= render 'application/progress_upload' %>
        <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'btn') %>
        <%= link_to 'Отмена', @book, class: 'link', "up-dash" => ".main", "up-transition" => "cross-fade" %>
      </div>
    <% end %>
  </div>
</div>
