<% content_for :canonical_link, books_url(subdomain: false) %>

<% if user_signed_in? %>
  <div class="block pagination p-5">
    <%= link_to 'Добавить книгу', main_app.new_book_path, class: 'pg-link pl-2 text-xl', "up-dash" => ".main", "up-transition" => "cross-fade" if current_user.admin? %>
  </div>
<% end %>

<div class="lg:mr-4">
  <div class="w-full bg-gray-100 p-2 mb-4 mt-4 lg:mt-0 shadow-inner lg:rounded" data-controller="search" data-search-url="<%= booksearch_index_url %>">
    <div class="flex items-center">
      <%= icon_svg('search.svg', class: 'svg-default pr-1') %>
      <%= text_field_tag :query, "", placeholder: "Введите название книги", class: "w-full placeholder-gray-500 focus:placeholder-gray-400", data: { action: "keyup->search#fetchResults keydown->search#navigateResults", target: "search.query" }, autofocus: false, autocomplete: "off" %>
    </div>
    <div data-target="search.results"></div>
  </div>
</div>

<div class="tasks block">
  <%= render partial: 'market/knigi/books/book', collection: @books, cached: true %>
</div>
<div class='tasks-link mt-4'>
  <%= pag_helper(@books, 'Далее') %>
</div>
