<% if @book.pages.any? %>
  <% keywords truncate(strip_tags(@book.pages.first.body_page.body.to_s), length: 100, omission: '').split.uniq.sort %>
  <% description truncate(strip_tags(@book.pages.first.body_page.body.to_s), length: 200) %>
<% end %>
<% content_for :canonical_link, book_url(@book, subdomain: false) %>

<% content_for :titleise do %>
  <h1 class="text-center mb-2">
    <span class="d-inline-block"><%= title sanitize(strip_tags(@book.title)) %></span>
    <small class="h6">
      <%= link_to icon('fas', 'pen'), edit_book_path(@book), data: { toggle: "tooltip", placement: "bottom" }, title: "Редактировать", class: 'link mx-4' if @book.user == current_user %>
      <%= link_to icon('fas', 'trash'), @book, method: :delete, class: 'link--destroy', data: { toggle: "tooltip", placement: "right", confirm: 'Вы уверены?' }, title: "Удалить", remote: true if @book.user == current_user %>
    </small>
  </h1>
<% end %>

<div class="flex md:flex-row flex-wrap">
  <div class="w-full max-w-md mx-auto">
    <%= @book.pages.first.body_page if @book.pages.any? %>
    <div class="flex items-center">
      <div class="block w-full lg:inline-block lg:p-3 text-gray-600 no-underline text-sm">
        Автор: <%= sanitize(strip_tags(@book.author)) %>
        <br/>
        Книга <%= time_tag(@book.data, :format=>'%Y года выпуска') %>
      </div>
    </div>
  </div>
  <div class="w-full justify-center mx-auto max-w-md">
    <% if user_signed_in? %>
      <% unless user_added_to_library?(current_user, @book) %>
        <%= render 'book-controls', book: @book %>
      <% end %>
    <% else %>
      <%= render 'book-controls', book: @book %>
    <% end %>

      <%= content_tag :div, 'Содержание', class: 'p-1 border-b text-gray-500' %>
      <div class="px-1" id="comments">
        <%= render partial: 'market/knigi/books/pages/page', collection: @pages %>
      </div>
  </div>
</div>

<% if @book.user == current_user %>
  <div class="mt-8 bg-gray-100 py-2 rounded">
    <div class="text-gray-500 pl-3">Добавить страницу</div>
    <%= render partial: "market/knigi/books/pages/form", locals: { commentable: @book } %>
  </div>
<% end %>

<div class="block mt-5">
  <%= link_to icon('fas', 'chevron-left fa-2x'), books_path, class: 'link text-sm' %>
</div>
