<% if @book.pages.any? %>
  <% keywords truncate(strip_tags(@book.pages.first.body_page.body.to_s), length: 100, omission: '').split.uniq.sort %>
  <% description truncate(strip_tags(@book.pages.first.body_page.body.to_s), length: 200) %>
<% end %>
<% content_for :canonical_link, book_url(@book, subdomain: false) %>

<div class="text-center mb-4">
  <h1>
    <span class="inline-block"><%= title sanitize(strip_tags(@book.title)) %></span>
    <small class="h6">
      <%= link_to icon('fas', 'pen'), edit_book_path(@book), data: { toggle: "tooltip", placement: "bottom" }, title: "Редактировать", class: 'link mx-4' if @book.user == current_user %>
      <%= link_to icon('fas', 'trash'), @book, method: :delete, class: 'link--destroy', data: { toggle: "tooltip", placement: "right", confirm: 'Вы уверены?' }, title: "Удалить", remote: true if @book.user == current_user %>
    </small>
  </h1>
  <div class="block text-sm text-gray-600">
    <span class="mx-2 inline-block">Автор: <%= sanitize(strip_tags(@book.author)) %></span>
    <span class="mx-2 inline-block">Книга <%= time_tag(@book.data, :format=>'%Y года выпуска') %></span>
  </div>
</div>

<div class="inline-flex md:flex-row flex-wrap">
  <div class="block px-2 max-w-md mx-auto text-sm lg:flex-1">
    <%= @book.pages.first.body_page if @book.pages.any? %>
  </div>
  <div class="block lg:flex-1">
    <% if user_signed_in? %>
      <% unless user_added_to_library?(current_user, @book) %>
        <%= render 'book-controls', book: @book %>
      <% end %>
    <% else %>
      <%= render 'book-controls', book: @book %>
    <% end %>

      <%= content_tag :div, 'Содержание', class: 'p-1 border-b text-gray-500' %>
      <div class="px-1" id="comments">
        <%= render partial: 'market/knigi/books/pages/page', collection: @pages %>
      </div>
  </div>
</div>

<% if @book.user == current_user %>
  <div class="mt-8 bg-gray-100 py-2 rounded">
    <div class="text-gray-500 pl-3">Добавить страницу</div>
    <%= render partial: "market/knigi/books/pages/form", locals: { commentable: @book } %>
  </div>
<% end %>

<div class="block mt-5">
  <%= link_to icon('fas', 'chevron-left fa-2x'), books_path, class: 'link text-sm' %>
</div>
