<% content_for :canonical_link, root_url(subdomain: false) %>
<% link_to_new_category = link_to 'Добавить категорию', main_app.new_category_path, class: 'pl-2 text-xl pg-link', remote: true, data: {disable_with: disable_helper('Загрузка...')} %>

<div class="pagination">
  <% if user_signed_in? && request.subdomain.present? && @user_agent == current_user %>
    <div class="block my-5" id="btn_hide">
      <%= link_to_new_category %>
    </div>
  <% elsif user_signed_in? && current_user.admin? %>
    <div class="block mb-5" id="btn_hide">
      <%= link_to_new_category %>
    </div>
  <% end %>
</div>

<div class="w-full bg-gray-100 p-2 mb-5 mt-5 lg:mt-0 shadow-inner lg:rounded" data-controller="search" data-search-url="<%= search_index_url %>">
  <div class="flex items-center">
    <%= icon_svg('search.svg', class: 'svg-default pr-1') %>
    <%= text_field_tag :query, "", placeholder: "Найти статью", class: "w-full placeholder-gray-500 focus:placeholder-gray-400", data: { action: "keyup->search#fetchResults keydown->search#navigateResults", target: "search.query" }, autofocus: false, autocomplete: "off" %>
  </div>
  <div data-target="search.results"></div>
</div>

<div id="categories-index" data-turbolinks-permanent>
  <%= render partial: 'article/posts/post', collection: @posts, cached: true %>
</div>
<div class='pagination mt-4' id="categories-index-paginate" data-turbolinks-permanent>
  <%= pag_helper(@posts, 'Далее') %>
</div>
