<% keywords truncate(strip_tags(@category.description), length: 100, omission: '').split.uniq.sort %>
<% description truncate(strip_tags(@category.description), length: 200) %>
<% if request.subdomain.present? %>
  <% content_for :canonical_link, main_app.category_url(@category, subdomain: @category.user.slug) %>
<% else %>
  <% content_for :canonical_link, main_app.category_url(@category, subdomain: false) %>
<% end %>

<% content_for :titleise do %>
  <div class="flex flex-wrap">
    <div class="w-full max-w-3xl mx-auto">
      <%= link_to icon_svg('chevron-thin-left.svg', class: 'svg-default') + "Главное", root_path, class: 'mb-2 text-gray-500 hover:text-gray-600 block' %>
      <div class="inline-block text-3xl leading-tight"><%= title sanitize(strip_tags(@category.title)) %></div>
      <div class="inline-block text-sm">
        <%= link_to icon_svg('edit.svg', class: 'svg-edit'), edit_category_path(@category), data: { toggle: "tooltip", placement: "bottom" }, title: "Редактировать", class: 'text-blue-500 mx-2' if @category.user == current_user %>
        <%= link_to icon_svg('trash.svg', class: 'svg-trash'), @category, method: :delete, class: 'text-red-700', data: { toggle: "tooltip", placement: "right", confirm: 'Вы уверены?' }, title: "Удалить", remote: true if @category.user == current_user %>
      </div>
    </div>
  </div>
<% end %>

<div class="py-3 mb-4 flex justify-center">
  <div class="w-full">
    <div id="show-listed">
      <div class="pb-6">
        <div class="px-2" data-controller="gallery">
          <%= @category.body if @category.description.present? %>
        </div>

        <% @category.youtubes.all.each do |tube| %>
          <div class="py-2">
            <iframe id="ytplayer" type="text/html" width="100%" height="280" class="rounded border-2" src="https://www.youtube.com/embed/<%= tube.uid %>" frameborder="0" allowfullscreen></iframe>
          </div>
        <% end %>

        <% if @category.no_data.blank? %>
          <div class="text-right text-gray-600 text-sm my-4">
            Опубликовано <%= time_tag(@category.created_at, :format=>'%d %B %Y в %H:%M') %>
          </div>
        <% end %>
        <% if @category.user == current_user %>
          <div class="my-4 pagination" id="btn_hide">
            <%= link_to 'Добавить вложенную страницу', main_app.new_category_post_path(@category), class: 'link text-xl pg-link', remote: true, data: {disable_with: disable_helper('Загрузка...')} %>
          </div>
        <% end %>
      </div>

      <div id="cate-show-<%= @category.id %>-<%= (@category.upgrade.strftime("%Y-%m-%d-%H-%M-%S")) %>" data-turbolinks-permanent>
        <div class="block" id="categories-show-columns">
          <%= render partial: 'article/posts/post', collection: @posts, cached: true %>
        </div>
        <div class="block pagination my-4" id="categories-show-paginator">
          <%= pag_helper(@posts, 'Далее') %>
        </div>
      </div>
    </div>

    <% if @category.no_comments.present? %>
      <div class="pt-2 mb-4 flex justify-center">
        <div class="w-full mt-4">
          <% unless params[:comment] %>
            <div id="commentos_back">
              <%= render partial: "comments/form", locals: { commentable: @category, postas: 'postas_post' } %>
            </div>
          <% end %>
          <div class="px-1" id="comments">
            <% if params[:comment] %>
              <h5 class="pt-4"><%= link_to "← Смотреть все комментарии", url_for(anchor: 'commentos_back'), class: 'link' %></h5>
              <%= render partial: 'comments/comment', collection: @comments_parent, locals: {full: false}, continue_thread: 10  %>
              <%= render partial: 'comments/comment', collection: @comments, locals: {full: false}, continue_thread: 10  %>
            <% else %>
              <div class="block" id="comments-show-columns">
                <div id="open_comments" class="mt-4">
                  <div data-controller="comments">
                    Загрузка комментариев...
                    <%= link_to url_for(open: 'true'), class: 'hidden', remote: true, data: {target: "comments.opencomment"} do %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <br />
          <div class="block pagination mb-4 hidden" id="comments-show-paginator">
            <%= pag_helper(@comments, 'Еще комментарии', :pagina) %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
