<div class="notifications row">
  <div class="list">
    <% if @notifications.blank? %>
      <%= render 'notifications/titleise', title: 'Уведомлений нет' %>
    <% else %>
      <%= render 'notifications/titleise', title: 'Все уведомления' %>
      <div class="block mb-5 text-right">
        <%= link_to icon('fas', 'trash', 'Удалить всё'), clean_notifications_path, class: 'btn text-sm', method: 'delete' %>
      </div>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group  leading-normal">
          <div class="group-title"><%= time_tag(group, :format=>'%d %B %Y г.') %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>
