<footer class="z-50 max-w-5xl mx-auto lg:flex items-center bottom-0 text-xs pb-24 pt-48 px-4 lg:px-10">
  <div class="flex items-center">
    <%= link_to main_app.root_url(subdomain: false) do %>
      <div style="background-image: url('<%= image_path('logo-dark.png') %>')" class='flex ml-2 logotip'></div>
    <% end %>
    <%= content_tag :span, "© #{Date.today.year}", class: 'flex font-bold text-gray-700 pr-2' %>
  </div>
  <%= active_link_to "Реквизиты", main_app.url_for(controller: "/static", action: 'show', page: 'contacts', subdomain: false), class: color %>
  <%= active_link_to "Услуги", main_app.url_for(controller: "/static", action: 'show', page: 'about', subdomain: false), class: color %>
  <%= active_link_to "Конфиденциальность и соглашение", main_app.url_for(controller: "/static", action: 'show', page: 'privacy', subdomain: false), class: color %>
  <%= active_link_to "Способы оплаты", main_app.url_for(controller: "/static", action: 'show', page: 'payments', subdomain: false), class: color %>
  <%= active_link_to 'Тарифы', main_app.url_for(controller: "/static", action: 'show', page: 'subscribes', subdomain: false), class: color %>
  <%= active_link_to 'Обратная связь', main_app.url_for(controller: "/static", action: 'show', page: 'feedback', subdomain: false), class: color %>
</footer>
