<nav class="w-full flex items-center justify-between flex-wrap pt-4 xl:mb-0">
  <div class="flex items-center flex-no-shrink text-white">
    <%= link_to main_app.root_url(subdomain: false) do %>
      <div style="background: url('<%= image_path('logo.png') %>') no-repeat" class='ml-2 logotip'></div>
    <% end %>
  </div>
  <div class="flex items-center w-auto pt-4-2 text-xs lg:text-base">
    <div class="bg-transparent">
      <div class="inline-block">
        <% if user_signed_in? %>
          <div class="md:flex">
            <div class="flex items-center justify-center">
              <%= link_to main_app.root_url(subdomain: current_user.slug), class: 'flex items-center justify-center nav-link', title: current_user.username do %>
                <%= user_avatar_helper(current_user, 40) %>
                <%= content_tag :span, current_user.username, class: 'hidden lg:flex' %>
              <% end %>

              <%= active_link_to main_app.notifications_url(subdomain: false), class: "flex nav-link mr-2 #{unread_notifications(current_user)}", title: 'Уведомления' do %>
                <%= icon('fas', 'bell') %>
                <!-- <div class="inline-block lg:hidden">Уведомления</div> -->
              <% end %>

              <div class="inline-block relative" data-controller="dropdown">
                <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" class="select-none nav-link mx-2">
                  <%= icon('fas', 'bars') %>
                </div>
                <div data-target="dropdown.menu" class="absolute right-0 text-xs mt-3 hidden">
                  <div class="bg-white shadow rounded border overflow-hidden">
                    <%= link_to main_app.root_url(subdomain: current_user.slug), class: 'dropdown-menu font-bold' do %>
                      <%= icon('fas', 'user-circle', current_user.username) %>
                    <% end %>
                    <%= active_link_to main_app.library_index_url(subdomain: false), class: "dropdown-menu" do %>
                      <%= icon('fas', 'book-open', 'Онлайн-Библиотека') %>
                      <!-- <div class="inline-block lg:hidden">Уведомления</div> -->
                    <% end %>
                    <% if current_user.subscribed? %>
                      <%= link_to main_app.url_for(controller: '/static', action: :show, page: :subscribes, subdomain: false), class: "dropdown-menu" do %>
                        <%= icon('fas', 'crown', 'Вы подписчик') %>
                      <% end %>
                    <% end %>
                    <%= link_to icon('fas', 'user-cog', 'Настройки'), main_app.edit_user_registration_url(subdomain: false), class: 'dropdown-menu' %>
                    <%= link_to icon('fas', 'sign-out-alt', 'Выйти'), main_app.destroy_user_session_path, class: 'dropdown-menu', method: :delete %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="sign">
            <%= active_link_to "Вход", main_app.new_user_session_url(subdomain: false), class: 'inline-block p-1 text-gray-300 hover:text-white' %>
            <%= active_link_to "Регистрация", main_app.new_user_registration_url(subdomain: false), class: 'inline-block p-1 text-gray-300 hover:text-white mr-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
