<nav class="w-full flex items-center justify-between flex-wrap pt-5 xl:mb-0">
  <div class="flex items-center flex-no-shrink text-white">
    <%= link_to main_app.root_url(subdomain: false), data: {"controller" => "loadernext", "action" => "click->loadernext#next"} do %>
      <%= icon_svg 'logo-big.svg', class: 'w-48 w-48' %>
    <% end %>
  </div>
  <div class="flex items-center w-auto pt-4-2 text-xs lg:text-base">
    <div class="bg-transparent">
      <div class="inline-block">
        <% if user_signed_in? %>
          <div class="md:flex">
            <div class="flex items-center justify-center">
              <%= link_to main_app.root_url(subdomain: current_user.slug), class: 'flex items-center justify-center nav-link', title: current_user.username, data: {"controller" => "loadernext", "action" => "click->loadernext#next"} do %>
                <%= user_avatar_helper(current_user) %>
                <%= content_tag :span, current_user.username, class: 'hidden lg:flex' %>
              <% end %>

              <%= active_link_to main_app.notifications_url(subdomain: false), class: "flex nav-link mr-1 #{unread_notifications(current_user)}", id: 'notifications', title: 'Уведомления' do %>
                <%= icon_svg('bell.svg', class: 'svg-white') %>
              <% end %>

              <div class="inline-block relative" data-controller="dropdown">
                <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" class="select-none nav-link mr-1">
                  <%= icon_svg('air.svg', class: 'svg-white') %>
                </div>
                <div data-target="dropdown.menu" class="absolute right-0 text-xs mt-3 hidden">
                  <div class="bg-white border overflow-hidden">
                    <%= link_to main_app.root_url(subdomain: current_user.slug), data: {"controller" => "loadernext", "action" => "click->loadernext#next"}, class: 'dropdown-menu font-bold' do %>
                      <%= icon_svg('user.svg', class: 'svg-default') %>
                      <%= current_user.username %>
                    <% end %>
                    <%= active_link_to main_app.library_index_url(subdomain: false), class: "dropdown-menu" do %>
                      <%= icon_svg('book.svg', class: 'svg-default') %>
                      Онлайн-Библиотека
                      <!-- <div class="inline-block lg:hidden">Уведомления</div> -->
                    <% end %>
                    <% if current_user.subscribed? %>
                      <%= link_to main_app.url_for(controller: '/static', action: :show, page: :subscribes, subdomain: false), class: "dropdown-menu" do %>
                        <%= icon_svg('crowns.svg', class: 'svg-default') %>
                        Вы подписчик
                      <% end %>
                    <% end %>
                    <%= link_to main_app.edit_user_registration_url(subdomain: false), data: {"controller" => "loadernext", "action" => "click->loadernext#next"}, class: 'dropdown-menu' do %>
                      <%= icon_svg('cog.svg', class: 'svg-default') %>
                      Настройки
                    <% end %>
                    <%= link_to main_app.destroy_user_session_path, data: {"controller" => "loadernext", "action" => "click->loadernext#next"}, class: 'dropdown-menu', method: :delete do %>
                      <%= icon_svg('log-out.svg', class: 'svg-default') %>
                      Выйти
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="sign">
            <%= active_link_to "Вход", main_app.new_user_session_url(subdomain: false), data: {"controller" => "loadernext", "action" => "click->loadernext#next"}, class: 'inline-block p-1 text-gray-300 hover:text-white' %>
            <%= active_link_to "Регистрация", main_app.new_user_registration_url(subdomain: false), data: {"controller" => "loadernext", "action" => "click->loadernext#next"}, class: 'inline-block p-1 text-gray-300 hover:text-white mr-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
