<%= link_to root_path, class: "lax lg:flex items-center pb-4 lg:mb-10 text-white hover:text-gray-300", data: {'lax-opacity' => '0 1, 100 0.5, 400 0'} do %>
  <div class="h-24 w-24 lg:h-32 lg:w-32 table rounded-full border-2 hover:border-blue-400 shadow-2xl lg:mr-4 mx-auto lg:mx-0 bg-cover" style="background-image: url('<%= user_avatar(@user_agent, 180) %>')">
  </div>
  <div class="text-center lg:text-left">
    <div class="text-2xl">
      <%= @user_agent.name_full %>
    </div>
    <div class="text-xs">
      <%= content_tag :div, icon('fas', 'envelope', sanitize(strip_tags(@user_agent.profile.email))), class: 'text-xs inline-block' if @user_agent.profile.email.present? %>
      <%= content_tag :div, icon('fas', 'phone', sanitize(strip_tags(@user_agent.profile.phone))), class: 'text-xs inline-block' if @user_agent.profile.phone.present? %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.bio)), class: 'block' %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.org)), class: 'block' %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.prof)), class: 'block' %>
    </div>
  </div>
<% end %>

