<%= link_to root_path, class: "z-50 mt-3 lg:flex items-center text-white hover:text-gray-300" do %>
  <div class="h-40 w-40 table rounded-full hover:border-blue-400 shadow-2xl lg:mr-4 mx-auto lg:mx-0 bg-cover" style="background: url('<%= user_avatar(@user_agent, 300) %>') no-repeat center;">
  </div>
  <div class="text-center lg:text-left">
    <div class="text-2xl text-shadow font-bold leading-tight">
      <%= icon('fas', 'crown', class: 'text-yellow-500') if @user_agent.subscribed? %> <%= @user_agent.name_full %>
    </div>
    <div class="text-xs text-shadow">
      <%= content_tag :div, icon('fas', 'envelope', sanitize(strip_tags(@user_agent.profile.email))), class: 'text-xs inline-block' if @user_agent.profile.email.present? %>
      <%= content_tag :div, icon('fas', 'phone', sanitize(strip_tags(@user_agent.profile.phone))), class: 'text-xs inline-block' if @user_agent.profile.phone.present? %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.org)), class: 'block' %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.bio)), class: 'block' %>
    </div>
  </div>
<% end %>

