<div class="items-center p-4 m-2 lg:m-8">
  <div class="h-48 w-48 table rounded-full border-2 shadow-2xl mb-2 mx-auto bg-cover" style="background-image: url('<%= user_avatar(@user_agent, 180) %>')">
  </div>
  <div class="text-center">
    <h2 class="text-2xl text-shadow text-white font-bold leading-tight">
      <%= @user_agent.name_full %>
    </h2>
    <div class="text-sm leading-tight" id="btn_hide_profile">
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.bio)), class: 'text-white pr-1 mb-1 text-shadow' %>
      <%= content_tag :div, sanitize(strip_tags(@user_agent.profile.org)), class: 'text-gray-200 pr-1 mb-1 text-shadow' %>
      <%= content_tag :div, icon('fas', 'envelope', sanitize(strip_tags(@user_agent.profile.email))), class: 'inline-block text-gray-200 text-shadow' if @user_agent.profile.email.present? %>
      <%= content_tag :div, icon('fas', 'phone', sanitize(strip_tags(@user_agent.profile.phone))), class: 'inline-block text-gray-200 text-shadow' if @user_agent.profile.phone.present? %>
      <% if @user_agent == current_user %>
        <div class="block mb-5">
          <%= link_to icon("fas", "pen", "Изменить профиль"), main_app.edit_profile_path(@user_agent.profile), class: 'block text-sm text-gray-200 hover:text-white p-2', remote: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>

