<% predpr = "ИП Зайцева В.Ф." %>

<% content_for :titleise do %>
  <div class="text-center text-gray-500">
    Пользовательское соглашение и политика конфиденциальности
    <div class="text-sm text-gray-400">
      На данной странице ниже представлены два документа:
      <br/>Пользовательское соглашение и Политика конфиденциальности.
    </div>
  </div>
<% end %>

<div class="flex justify-center">
  <div class="w-full max-w-2xl">
    <div class="trix-content pt-6 pb-8">

      <div class="text-2xl font-bold mb-4">
        ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
      </div>

      <div class="text-lg font-bold mb-2">
        1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ, ИСПОЛЬЗУЕМЫЕ В НАСТОЯЩЕМ СОГЛАШЕНИИ
      </div>
      <div class="mb-2">
        Перечисленные ниже термины в рамках настоящего Соглашения имеют следующее значение:
      </div>
      1.1. <strong>Сайт </strong> – совокупность всей информации (текстовой и графической), находящаяся в сети интернет по адресу <%= link_to main_app.root_url(subdomain: false) %>, принадлежащая <%= predpr %>
      <br />
      1.2. <strong>Администрация Сайта</strong>  –  сотрудники <%= predpr %>, уполномоченные на изменение информации на Сайте.
      <br />
      1.3. <strong>Пользователь Сайта</strong> (далее &ndash; <strong>Пользователь</strong>) &ndash; лицо, использующее Сайт <%= predpr %>
      <br />
      1.4. <strong>Стороны </strong>&ndash; <%= predpr %> и Пользователь Сайта, заключившие Настоящее Соглашение.
      <br />
      <br />
      <strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong>
      <br />
      2.1. Настоящее Пользовательское соглашение (далее &ndash; <strong>Соглашение</strong>) относится к Сайту <%= predpr %>, расположенному в сети интернет по адресу <%= link_to main_app.root_url(subdomain: false) %>.
      <br />
      2.2. Сайт является собственностью <%= predpr %>
      <br />
      2.3. Настоящее Соглашение регулирует отношения между <%= predpr %> и Пользователем Сайта.
      <br />
      2.4. <%= predpr %> оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.
      <br />
      2.5. Продолжение использования Сайта Пользователем означает принятие условий Соглашения и изменений к нему, внесенных в настоящее Соглашение.
      <br />
      2.6. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.
      <br />
      2.7. Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями, начиная просмотр Сайта, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без каких-либо оговорок и исключений.
      <br />
      <br />
      <strong>3. ПРЕДМЕТ СОГЛАШЕНИЯ</strong>
      <br />
      3.1. Предметом настоящего Соглашения является предоставление Пользователю доступа к информации, и онлайн сервисам, представленным на Сайте.<br />
      3.2. Сайт предоставляет Пользователю следующие виды сервисов:
      <ul>
        <li>
          свободный доступ к информации (текстовой и графической) с правом просмотра данной информации;</li>
        <li>
          доступ к средствам поиска и навигации Сайта;</li>
        <li>
          предоставление Пользователю возможности запросов стоимости, услуг, отзывов и иной информации (обратная связь);</li>
        <li>
          доступ к информации об оказываемых услугах, специальных акциях, бонусах и скидках;</li>
        <li>
          заказ услуг.</li>
      </ul>
      3.3. Под действие настоящего Соглашения подпадают все существующие на данный момент сервисы Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем сервисы.<br />
      3.4. Доступ к Сайту предоставляется на безвозмездной основе.<br />
      3.5. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту, Пользователь соглашается с условиями Соглашения и считается присоединившимся к настоящему Соглашению.<br />
      3.6. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.<br />
      <br />
      <strong>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong><br />
      4.1. <%= predpr %> вправе:
      <div>
        4.1.1. Изменять правила пользования Сайтом, а также изменять содержание Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.<br />
        4.1.2. Ограничить доступ к Сайту или к частям сайта в случае нарушения Пользователем условий настоящего Соглашения.</div>
      4.2. Пользователь вправе:
      <div>
        4.2.1. Получить доступ к использованию Сайта в ознакомительных и подобных целях, а также к онлайн сервисам, представленным на Сайте.<br />
        4.2.2. Задавать любые вопросы, относящиеся к услугам, представленным на Сайте и иной информации, размещенной на Сайте, используя раздел Сайта &laquo;Контакты&raquo;.<br />
        4.2.3. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</div>
      4.3. Пользователь Сайта обязуется:
      <div>
        4.3.1. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.<br />
        4.3.2. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.<br />
        4.3.3. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических или юридических лицах.<br />
        4.3.4. Избегать любых действий, в результате которых может быть нарушена конфиденциальность информации, охраняемой законодательством Российской Федерации.<br />
        4.3.5. Не использовать Сайт для распространения информации рекламного характера.<br />
        4.3.6. Не использовать сервисы Сайта с целью:</div>
      <ul>
        <li>
          Загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</li>
        <li>
          Побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации.</li>
        <li>
          Нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</li>
        <li>
          Представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за Администрацию Сайта.</li>
        <li>
          Введения в заблуждение относительно свойств и характеристик какой-либо услуги, размещенной на Сайте.</li>
        <li>
          Некорректного сравнения услуги, а также формирования негативного отношения к лицам, пользующимся/не пользующимися определенными услугами, или осуждения таких лиц.</li>
      </ul>
      4.4. Пользователю запрещается:
      <div>
        4.4.1. Нарушать надлежащее функционирование Сайта.<br />
        4.4.2. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами Сайта.<br />
        4.4.3. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте.<br />
        4.4.4. Нарушать систему безопасности или аутентификации на Сайте.<br />
        4.4.5. Отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.<br />
        4.4.6. Использовать Сайт в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права <%= predpr %> или других лиц.</div>
      <br />
      <strong>5. ИСПОЛЬЗОВАНИЕ САЙТА</strong><br />
      5.1. Сайт не может быть скопирован, опубликован, воспроизведен, передан или распространен любым способом, полностью или частично, без предварительного письменного согласия <%= predpr %>.<br />
      5.2. Сайт защищен авторским правом, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.<br />
      5.3. Онлайн-заказ на Сайте требует регистрации на Сайте.<br />
      5.4. Пользователь несет персональную ответственность за сохранение конфиденциальности информации, а также за всю без исключения деятельность, которая ведётся от имени Пользователя.<br />
      5.5. Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия по оказанию услуг, предоставляемых на Сайте.<br />
      5.6. Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.<br />
      5.7. Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень услуг, предлагаемых на Сайте, и в цены, применимые к оказываемым услугам.<br />
      5.8. Документ &laquo;Политика конфиденциальности&raquo; регулирует в соответствующей части и распространяет свое действие на использование Пользователем Сайта.<br />
      <br />
      <strong>6. ОТВЕТСТВЕННОСТЬ</strong><br />
      6.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, <%= predpr %> не возмещаются.<br />
      6.2. <%= predpr %> не несет ответственности за:
      <div>
        6.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.<br />
        6.2.2. Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.<br />
        6.2.3. Ненадлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</div>
      <br />
      <strong>7. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</strong><br />
      7.1. <%= predpr %> вправе раскрыть любую собранную о Пользователе Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права <%= predpr %> или в права других Пользователей Сайта.<br />
      7.2. <%= predpr %> имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав Пользователей.<br />
      7.3. <%= predpr %> имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.<br />
      7.4. <%= predpr %> вправе без предварительного уведомления Пользователя прекратить доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки.<br />
      7.5. <%= predpr %> не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.<br />
      <br />
      <strong>8. РАЗРЕШЕНИЕ СПОРОВ</strong><br />
      8.1. В случае возникновения любых разногласий или споров между Сторонами Настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br />
      8.2. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.<br />
      8.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться в суд за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.<br />
      8.4. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.<br />
      <br />
      <strong>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong><br />
      9.1. <%= predpr %> не принимает предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.<br />
      9.2. Отзывы и вопросы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы <%= predpr %> без ограничений.<br />
      <br />
      <div class="text-2xl font-bold">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</div>
      <br />
      <strong>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong><br />
      В настоящей Политике конфиденциальности используются следующие термины:<br />
      1.1. <strong>Сайт </strong>&ndash; совокупность всей информации (текстовой и графической), находящейся в сети интернет по адресу <%= link_to main_app.root_url(subdomain: false) %>, принадлежащая <%= predpr %>.<br />
      1.2. <strong>Администрация Сайта</strong> &ndash; сотрудники <%= predpr %>, уполномоченные на изменение информации на Сайте.<br />
      1.3. <strong>Пользователь Сайта </strong>(далее &ndash; <strong>Пользователь</strong>) &ndash; лицо, использующее Сайт <%= predpr %>.<br />
      1.4. <strong>Стороны </strong>&ndash; <%= predpr %> и Пользователь Сайта, заключившие Настоящее Соглашение.<br />
      1.5. <strong>Персональные данные</strong> &ndash; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).<br />
      1.6.<strong> Обработка персональных данных </strong>&ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br />
      1.7. <strong>Конфиденциальность персональных данных</strong> &ndash; обязательное для соблюдения <%= predpr %>, Пользователем или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.<br />
      1.8. <strong>Cookies </strong>&ndash; технические данные, отправляемые Сайтом Пользователю через сеть интернет, хранящиеся на устройстве Пользователя, которое использовано для просмотра Сайта и передаваемые на Сайт с устройства Пользователя, использованного для просмотра Сайта, при каждом посещении Сайта.<br />
      1.9. <strong>IP-адрес </strong>&ndash; технический адрес Пользователя в сети интернет.<br />
      <br />
      <strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong><br />
      2.1. Настоящая Политика конфиденциальности персональных данных (далее &ndash; Политика конфиденциальности) действует в отношении всей информации, которую Сайт может получить о Пользователе, во время использования последним Сайта и его сервисов.<br />
      2.2. Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.<br />
      2.3. В случае несогласия с условиями Политики конфиденциальности Пользователь обязан прекратить использование Сайта.<br />
      2.4. Настоящая Политика конфиденциальности непосредственно применяется только к Сайту. <%= predpr %> не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.<br />
      2.5. <%= predpr %> не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.<br />
      <br />
      <strong>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</strong><br />
      3.1. Настоящая Политика конфиденциальности устанавливает обязательства <%= predpr %> по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет при регистрации на Сайте.<br />
      3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте по адресу <%= link_to main_app.new_user_registration_url(subdomain: false), main_app.new_user_registration_url(subdomain: false) %> и включают в себя следующую информацию:
      <div>
        3.2.1. фамилию и имя Пользователя;<br />
        3.2.2. адрес электронной почты (e-mail);<br />
      3.3. Отключение Cookies может повлечь невозможность доступа к Сайту.<br />
      3.4. Сайт осуществляет сбор IP-адресов Пользователей. Данная информация используется для обеспечения технической работы Сайта.<br />
      3.5. Любая иная персональная информация, не оговоренная выше (история заказов, используемые Пользователем устройства для просмотра Сайта и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п. 5.2. и п. 5.3. настоящей Политики конфиденциальности.<br />
      <br />
      <strong>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</strong><br />
      <%= predpr %> может использовать персональные данные Пользователя Сайта в целях:<br />
      <div>
        4.1. Идентификации Пользователя, для оформления заказа и (или) заключения договора на оказание услуг дистанционным способом или их оплаты.<br />
        4.2. Предоставления Пользователю доступа к персонализированной информации.<br />
        4.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, оплаты, обработки запросов и заявок от Пользователя.<br />
        4.4. Создания учетной записи для онлайн-заказа услуг или их оплаты, если Пользователь дал согласие на создание учетной записи путем прохождения процедуры регистрации на Сайте;<br />
        4.5. Уведомления Пользователя Сайта о состоянии онлайн-заказа услуги или их оплаты.<br />
        4.6. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания (возврата) платежа;<br />
        4.7. Предоставления Пользователю клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.<br />
        4.8. Предоставления Пользователю, с его согласия, обновлений ассортимента услуг, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени <%= predpr %> или от имени партнеров <%= predpr %>.<br />
        4.9. Осуществления рекламной деятельности.<br />
        4.10. Предоставления доступа Пользователю на сайты или сервисы партнеров <%= predpr %> с целью получения продуктов, обновлений и услуг.</div>
      <br />
      <strong>5.СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</strong><br />
      5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.<br />
      5.2. Пользователь соглашается с тем, что <%= predpr %> вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте.<br />
      5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.<br />
      5.4. При утрате или разглашении персональных данных <%= predpr %> информирует Пользователя об утрате или разглашении персональных данных.<br />
      5.5. <%= predpr %> принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.<br />
      5.6. <%= predpr %> совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.<br />
      <br />
      <strong>6.ОБЯЗАТЕЛЬСТВА СТОРОН</strong><br />
      6.1. Пользователь обязан предоставить достоверные персональные данные, необходимые для пользования Сайтом.<br />
      6.2. <%= predpr %> обязан:
      <div>
        6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.<br />
        6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п. 5.2. и п. 5.3. настоящей Политики Конфиденциальности.<br />
        6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.<br />
        6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</div>
      <br />
      <strong>7. ОТВЕТСТВЕННОСТЬ СТОРОН</strong><br />
      7.1. <%= predpr %>, не исполнившее свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п. 5.2., п. 5.3. и п. 7.2. настоящей Политики Конфиденциальности.<br />
      7.2. В случае утраты или разглашения Конфиденциальной информации <%= predpr %> не несёт ответственность, если данная конфиденциальная информация:
      <div>
        7.2.1. Стала публичным достоянием до её утраты или разглашения.<br />
        7.2.2. Была получена от третьей стороны до момента её получения <%= predpr %>.<br />
        7.2.3. Была разглашена с согласия Пользователя.<br />
        7.2.4. Была разглашена сторонними сайтами и сервисами, ссылки на использование которых присутствуют на Сайте, в случае использования таких ссылок и сервисов Пользователем.</div>
      7.3. Пользователь самостоятельно несет ответственность за возможные последствия в случае представления недостоверных и/или неполных персональных данных.<br />
      <br />
      <strong>8. РАЗРЕШЕНИЕ СПОРОВ</strong><br />
      8.1. До обращения в суд с иском по спорам, возникающим из отношений между Сторонами, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br />
      8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.<br />
      8.3. При недостижении соглашения, спор будет передан на рассмотрение в судебный орган по месту нахождения <%= predpr %> в соответствии с действующим законодательством Российской Федерации.<br />
      8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и <%= predpr %> применяется действующее законодательство Российской Федерации.<br />
      <br />
      <strong>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</strong><br />
      9.1. <%= predpr %> вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.<br />
      9.2. Изменения Политики конфиденциальности вступают в силу с момента их размещения на Сайте.<br />
      9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать <%= predpr %> через электронную почту.<br />
      </div>

    </div>
  </div>
</div>
