<% keywords truncate(strip_tags(@page.body_page.body.to_s), length: 100, omission: '').split.uniq.sort %>
<% description truncate(strip_tags(@page.body_page.body.to_s), length: 200) %>
<% content_for :canonical_link, book_page_url(@page.commentable, @page, subdomain: false) %>

<% content_for :titleise do %>
  <div class="flex flex-wrap">
    <div class="w-full max-w-md mx-auto text-center">
      <h1 class="pt-3">
        <span class="d-inline-block">
          <%= title sanitize(strip_tags(@page.title)) %>
          <div class="inline-block">
            <%= link_to icon('fas', 'pen'), edit_book_page_path(@page.commentable, @page, anchor: :vid), title: "Редактировать", class: 'link mx-1 text-xs' if @page.commentable.user == current_user %>
            <%= link_to icon('fas', 'trash'), [@page.commentable, @page], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'link--destroy text-xs', title: "Удалить", remote: true if @page.commentable.user == current_user %>
          </div>
        </span>
      </h1>
    </div>
  </div>
<% end %>

<div class="mt-2 book_page_body">
  <% if user_added_to_library?(current_user, @page.commentable) %>
    <%= @page.body_page %>
  <% elsif @page.commentable.user == current_user %>
    <%= @page.body_page %>
  <% else %>
    <span class="text-gray-500">
      <%= truncate(strip_tags(@page.body_page.body.to_s), length: 500, omission: '...') %>
    </span>
    <%= link_to 'Приобрести полную версию', @page.commentable, class: 'block mt-2 bg-green-400 text-gray-200 text-center p-3 hover:bg-green-500 hover:text-white rounded shadow' %>
  <% end %>
</div>
