<%= form_with(model: market_knigi_page, local: true) do |form| %>
  <% if market_knigi_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market_knigi_page.errors.count, "error") %> prohibited this market_knigi_page from being saved:</h2>

      <ul>
        <% market_knigi_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :commentable_id %>
    <%= form.number_field :commentable_id %>
  </div>

  <div class="field">
    <%= form.label :commentable_type %>
    <%= form.text_field :commentable_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
