<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @market_knigi_page.title %>
</p>

<p>
  <strong>Commentable:</strong>
  <%= @market_knigi_page.commentable_id %>
</p>

<p>
  <strong>Commentable type:</strong>
  <%= @market_knigi_page.commentable_type %>
</p>

<%= link_to 'Edit', edit_market_knigi_page_path(@market_knigi_page) %> |
<%= link_to 'Back', market_knigi_pages_path %>
