<% content_for :header do %>
  <div class="w-full h-24 lg:h-64" style="<%= background_helper(@user_agent) %>">
    <div class="container lg:pt-10 max-w-3xl mx-auto">
      <%= render 'shared/navbar' %>
    </div>
  </div>
<% end %>

<% content_for :menu do %>
  <%= render partial: 'article/categories/category', collection: Article::Category.where(type: nil) %>

  <div class="tracking-wide text-center text-sm text-gray-500 font-bold border-b pb-1 pt-6">
    МАРКЕТ
  </div>


  <%= active_link_to main_app.books_path, class: 'link' do %>
    <div class="tracking-wide font-bold border-b  px-2 py-3">
      Книги
    </div>
  <% end %>


<% end %>

<%= render template: "layouts/application" %>
