<% content_for :content_body do %>
  <% title(@user_agent.name_full) %>
  <div class="max-w-5xl mx-auto">
    <div class="leading-tight bg-grey-lighter">
      <div class="mx-auto bg-white overflow-hidden shadow-lg">
        <div class="absolute z-10 w-full pt-2 pl-4 max-w-5xl">
          <%= render 'shared/navbar' %>
        </div>
        <%= background_helper(@user_agent) %>
        <div class="relative z-10 border-b px-4 pb-6 flex flex-wrap mb-4">
          <%= render 'shared/profile' %>
        </div>
        <div class="flex flex-wrap lg:flex-no-wrap flex-row-reverse">
          <div class="w-full lg:max-w-3xl">
            <% if content_for?(:titleise) %>
              <div class="w-full max-w-lg xl:max-w-2xl px-2">
                <%= yield :titleise %>
              </div>
            <% end %>
            <%= yield %>
          </div>
          <div class="w-full lg:max-w-xs mt-9 lg:mr-4 lg:mt-0">
            <%= active_link_to main_app.root_path, class: 'link', active: :exclusive do %>
              <div class="menu">
                Главное
              </div>
            <% end %>
            <%= render partial: 'article/categories/category', collection: @user_agent.categories.includes(:comments).where(type: 'Article::Blog::Category'), cached: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
