<% content_for :header do %>
  <% title(@user_agent.name_full) %>

  <div class="absolute w-full lg:pt-10">
    <div class="lax z-50 max-w-3xl mx-auto" data-lax-translate-y="0 0, 500 250">
      <%= render 'shared/navbar' %>
    </div>
    <div class="lax flex flex-wrap" data-lax-translate-y="0 0, 400 80">
      <div class="max-w-4xl lg:ml-10 pt-6">
        <%= render 'shared/profile' %>
      </div>
    </div>
  </div>
  <div class="w-full h-screen" style="<%= background_helper(@user_agent) %>">
  </div>
<% end %>

<% content_for :menu do %>
  <%= render partial: 'article/categories/category', collection: @user_agent.categories.where(type: 'Article::Blog::Category') %>
<% end %>

<%= render template: "layouts/application" %>
