<% content_for :header do %>
  <% title(@user_agent.name_full) %>

  <div class="absolute w-full pt-2">
    <div class="z-50 max-w-3xl mx-auto mb-5">
      <%= render 'shared/navbar' %>
    </div>
    <div class="flex flex-wrap">
      <div class="max-w-xl mx-auto">
        <%= render 'shared/profile' %>
      </div>
    </div>
  </div>
  <div class="w-full h-screen" style="<%= background_helper(@user_agent) %>">
  </div>
<% end %>

<% content_for :menu do %>
  <%= render partial: 'article/categories/category', collection: @user_agent.categories.includes(:comments).where(type: 'Article::Blog::Category'), cached: true %>
<% end %>

<%= render template: "layouts/blog/application" %>
