<% content_for :header do %>
  <div class="w-full pb-4" style="<%= background_helper(@user_agent) %>">
    <div class="flex flex-wrap">
      <div class="z-50 container max-w-3xl mx-auto">
        <%= render 'shared/navbar' %>
      </div>
      <div class="container max-w-2xl mx-auto lg:ml-48 pt-1">
        <%= render 'shared/profile_mini' %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :menu do %>
  <%= render partial: 'article/categories/category', collection: @user_agent.categories.where(type: 'Article::Blog::Category') %>
<% end %>

<%= render template: "layouts/application" %>
