<div class="flex flex-wrap rounded-t">
  <div class="w-full max-w-md mx-auto text-center">
    <h1 class="m-2 p-2 font-bold text-yellow-500 mb-2">
      <%= icon('fas', 'crown', class: 'fa-2x') %>
      Оформите подписку
    </h1>
  </div>
</div>

<div class="rounded-b mb-4 text-center">
  <h3 class="leading-normal font-normal">
    <div class="max-w-md text-lg w-full mx-auto lg:flex border-b">
      <div class="py-5 pl-2 pr-4 lg:mr-0 lg:border-r">
        Доступ к уникальным материалам
      </div>
      <div class="py-5 px-2 lg:ml-2">
        Полное управление профилем
      </div>
      <div class="py-5 px-2 lg:ml-2 lg:border-l">
        Поддержка и улучшение контента
      </div>
    </div>
    <div class="py-5 px-2 mb-2">
      <% if user_signed_in? %>
        <div class="mb-4">Выберите подходящий для вас тариф</div>
        <div class="lg:flex">
          <div class="lg:ml-auto">
            <%= form_for :subscribe, url: main_app.subscribes_url(subdomain: false, amountorub: (summ_large_month+"00").to_i), method: :post do |f| %>
              <%= content_tag(:button, class: 'bg-blue-600 text-gray-200 text-lg hover:text-white py-2 px-4 mb-2 rounded-lg border-t-4 border-b-4 border-blue-200 hover:border-blue-300', type: 'submit', data: {disable_with: disable_helper('Переход в Сбербанк Онлайн')}) do %>
                <div class="font-bold lg:block inline-block"><%= summ_large_month %> <%= icon('fas', 'ruble-sign fa-xs') %></div>
                6 месяцев
              <% end %>
            <% end %>
          </div>
          <div class="lg:mx-auto">
            <%= form_for :subscribe, url: main_app.subscribes_url(subdomain: false, amountorub: (summ_small_month+"00").to_i), method: :post do |f| %>
              <%= content_tag(:button, class: 'bg-red-600 text-gray-200 text-lg hover:text-white py-2 px-4 mb-2 rounded-lg border-t-4 border-b-4 border-red-200 hover:border-red-300', type: 'submit', data: {disable_with: disable_helper('Переход в Сбербанк Онлайн')}) do %>
                  <div class="font-bold lg:block inline-block"><%= summ_small_month %> <%= icon('fas', 'ruble-sign fa-xs') %></div>
                  3 месяцa
              <% end %>
            <% end %>
          </div>
          <div class="lg:mr-auto">
            <%= form_for :subscribe, url: main_app.subscribes_url(subdomain: false, amountorub: (summ_largest_month+"00").to_i), method: :post do |f| %>
              <%= content_tag(:button, class: 'bg-green-600 text-gray-200 text-lg hover:text-white py-2 px-4 mb-2 rounded-lg border-t-4 border-b-4 border-green-200 hover:border-green-300', type: 'submit', data: {disable_with: disable_helper('Переход в Сбербанк Онлайн')}) do %>
                  <div class="font-bold lg:block inline-block"><%= summ_largest_month %> <%= icon('fas', 'ruble-sign fa-xs') %></div>
                  12 месяцев
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <span class="leading-normal font-normal">
          <%= link_to 'Войдите', main_app.new_user_session_path, class: 'link' %>
          или
          <%= link_to 'зарегистрируйтесь', main_app.new_user_registration_path, class: 'link' %>
        </span>
      <% end %>
    </div>
  </h3>
</div>

<div class="text-center">
  <div class="inline-flex items-center">
    <%= image_tag 'logo_cards_small.png', width: 200, class: 'mx-4' %>
    <%= image_tag 'logo-sberbank-online.png', width: 200, class: 'mx-4' %>
  </div>
  <div class="text-sm">
    Подписка осуществляется быстро и безопасно.
  </div>
</div>
