<% user_signed_in? ? remotion = true : remotion = false %>

<div class="flex flex-wrap rounded-t mb-10">
  <div class="w-full max-w-md mx-auto text-center">
    <h1 class="font-bold text-yellow-500">
      <%= icon_svg('crowns.svg', class: 'w-64 h-64 mx-auto') %>
      Оформите подписку
    </h1>
  </div>
</div>

<div class="rounded-b mb-4 text-center">
  <h3 class="leading-normal font-normal">
    <div class="">
      <div class="container mx-auto pb-4 text-gray-800">
        <div class="flex flex-col sm:flex-row justify-center pt-6 my-6 sm:my-4">

          <div class="flex flex-col w-5/6 lg:w-1/2 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-2xl z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <div class="w-full pt-8 text-5xl font-bold text-center">
                <%= summ_short_month %><span class="text-3xl"> руб.</span>
                <span class="text-green-700 text-base block">1 месяц</span>
              </div>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow pb-8">
              <div class="flex items-center justify-center">
                <%= form_for :subscribe, url: main_app.subscribes_url(amountorub: (summ_short_month+"00").to_i), method: :post, remote: remotion do |f| %>
                  <%= render 'application/progress_pay' %>
                  <%= content_tag(:button, class: 'bg-green-700 text-gray-300 text-lg hover:text-white py-2 px-4 mb-2 border-t-4 border-b-4 border-green-300 hover:border-green-400', type: 'submit') do %>
                      <div class="w-full text-xl font-bold text-center">
                        Оформить
                      </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="shadow-xl flex flex-col w-5/6 lg:w-1/2 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="pt-8 text-3xl font-bold text-center">
                <%= summ_long_month %><span class="text-base"> руб.</span>
                <span class="text-green-500 text-base block">Пол года</span>
              </div>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow pb-8">
              <div class="flex items-center justify-center">
                <%= form_for :subscribe, url: main_app.subscribes_url(amountorub: (summ_long_month+"00").to_i), method: :post, remote: remotion do |f| %>
                  <%= render 'application/progress_pay' %>
                  <%= content_tag(:button, class: 'bg-green-600 text-gray-300 text-lg hover:text-white py-2 px-4 mb-2 border-t-4 border-b-4 border-green-200 hover:border-green-300', type: 'submit') do %>
                      <div class="w-full text-lg font-bold text-center">
                        Оформить
                      </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </h3>
</div>

<div class="text-center">
  <div class="flex flex-wrap items-center">
    <%= image_tag 'logo-sberbank-online.png', width: 200, class: 'mx-auto lg:mr-auto p-2' %>
    <%= image_tag 'logo_cards_small.png', width: 200, class: 'mx-auto lg:ml-auto p-2' %>
  </div>
  <div class="text-sm">
    Подписка осуществляется быстро и безопасно.
  </div>
</div>
