<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/html_head' %>
  </head>

  <body>
    <%= render 'shared/notice' %>
    <%= yield(:header) %>
    <div class="w-full mx-auto px-2 lg:px-8 lg:py-6">
      <div class="flex flex-wrap flex-row-reverse">
        <div class="w-full lg:w-1/2 lg:mr-auto lg:-mt-20 bg-white rounded border-t-4 border-b-4 shadow-2xl my-2 lg:m-2 p-2 lg:p-8">
          <% if content_for?(:titleise) %>
            <div class="w-full max-w-lg xl:max-w-2xl">
              <%= yield :titleise %>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="w-full lg:w-1/4 lg:ml-auto lg:-mt-20 bg-white rounded border-t-4 border-b-4 shadow-2xl my-2 lg:m-2 px-2">
          <% if user_signed_in? && request.subdomain.present? && @user_agent == current_user %>
            <%= link_to main_app.new_category_path, class: 'link' do %>
              <div class="tracking-wide font-bold border-b  px-2 py-3">
                <%= icon('fas', 'plus') %> Добавить категорию
              </div>
            <% end %>
          <% end %>
          <%= active_link_to main_app.root_path, class: 'link', active: :exclusive do %>
            <div class="tracking-wide font-bold border-b  px-2 py-3">
              Главное
            </div>
          <% end %>
          <%= yield(:menu) %>
        </div>
      </div>
      <%= render 'shared/footer', color: 'inline-block font-bold text-gray-500 hover:text-gray-700 pr-2' %>
    </div>
  </body>
</html>
