<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head >

  <body>
    <% if yield(:fullpath).present? %>
      <%= yield(:fullpath) %>
    <% else %>
      <script>
        Appcontroller = "<%= request.original_fullpath %>"
      </script>
    <% end %>

    <%= render 'shared/notice' %>

    <div class="main">
      <%= yield(:content_body)%>
    </div>

    <% cache "footer_v1" do %>
      <%= render('shared/footer', color: 'inline-block link pr-2') %>
    <% end %>

    <%= render 'shared/photoswipe' %>
    <%= javascript_packs_with_chunks_tag 'component' %>
  </body>
</html>
